@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
*{
  user-select: none;
}
.nav{
  background-color: #ffd700;
}
.nav a:hover{
  color: #696969;
}
.logo{
  border: double 2px #ffd700;
  background-color: #ffd700;
  border-radius: 50%;
  height: 20%;
  width: 20%;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20%;
}
.bio{
  position: relative;
  display: block;
}
#about h2{
  font-size: 1rem;
}
.scl-link{
  margin-top: 10px;
  display: flex;
  justify-content:space-evenly;
}
.scl-link a:hover{
background-color: #ffd700;
border-radius: 50px;
}
.button {
  justify-content: center;
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #fff;
  border-radius: 100px;
  border: 4px solid #FFd700;
  border-width: 4px 4px 4px 4px;
  padding: 5px 20px 5px 20px;
  color: #000;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal
  }
  .button{
    text-decoration: none;
    text-transform: uppercase;
  }
.button:hover{
  color: #000000;
 background-color: #FFD600;
}
footer{
  display: block;
  position: relative;
}
